.main_bar_container{
    margin-left: 6px;
}
.main_bar_container svg{
    line-height: 30px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:grey;
    width:2em;
    height:2em;
}

.youtube_icon{
    margin-left: 5px;
}
.youtube_icon svg{
    color:red;
    width:2em;
    height:4em
}

.search_icon svg{
    width:30px;
    height:20px;
}


.user_icons div svg{
    height:2em;
    width:2em;
}
.user_icon_all{
    /* border: 2px solid red; */
}